* {
	margin: 0;
	padding: 0;
	list-style: none;
}
body, html {
	min-height: 100%;
	height: 100%;
}
body {
	padding: 50px;
}
.ripple-button, .list {
	margin: 10px 0 50px;
}
.ripple-button {
	width: 200px;
	height: 50px;
	background: #3F51B5;
}
.listBlock {
	float: left;
	margin-left: 50px;
}
.list {
	width: 200px;
}
.list li {
	height: 50px;
	line-height: 50px;
	text-indent: 30px;
	border-bottom: 1px solid #e0e0e0;
}
.list li .m-ripple-wave {
	background: #3F51B5;
	opacity: 0.3;
}