* {
    outline: none;
}
/* 
    Ripple
*/
.m-ripple, .m-ripple-wave {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.m-ripple {
	position: relative;
	overflow: hidden;
	-webkit-transform: translatez(0); /* Allow hardware acceleration */
}
.m-ripple-wave {
	/* width/height + left/top set by JS */
	display: block;
	position: absolute;
	pointer-events: none;
	border-radius: 50%;
	transform: scale(0);
	
	background: #FFFFFF;
	opacity: 0.2;
	
	width: 20px;
	height: 20px;
	margin: -10px 0 0 -10px;
	
	-webkit-transition: -webkit-transform 1.25s, opacity 0.75s;
	transition: transform 1.25s, opacity 0.75s;
	
	-webkit-transition-timing-function 	: cubic-bezier(0.250, 0.460, 0.450, 0.940);
	transition-timing-function 	: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.m-ripple-wave.fade {
	opacity: 0 !important;
}

/*
	Button
*/
.m-button{
	-webkit-transition: -webkit-box-shadow 0.2s;
	-moz-transition: -moz-box-shadow 0.2s;
	transition: box-shadow 0.2s;
}
/* 
    Input text
*/
.m-input input, .m-input label {
    font-size: 18px;
}
.m-input {
    position: relative;
}
.m-input label {
    position: absolute;
    cursor: text;
    opacity: 0.5;
    
    -webkit-transition: top 0.2s ease-out, font-size 0.2s ease-out;
	transition: top 0.2s ease-out, font-size 0.2s ease-out;
    
    left: 0;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    white-space: nowrap;
}
.m-input input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dddddd;
    padding: 10px 0;
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    box-sizing: border-box;
    
    -webkit-transition: border-bottom 0.2s ease-out, box-shadow 0.2s ease-out;
	transition: border-bottom 0.2s ease-out, box-shadow 0.2s ease-out;
}
.m-input input:focus {
    border-bottom: 1px solid #2196f2;
    box-shadow: 0 1px 0 0 #2196f2;
}
.m-input input:disabled {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3);
}
.m-error input {
    border-bottom: 1px solid #f3493d;
    box-shadow: 0 1px 0 0 #f3493d;
}
.m-input input:disabled + label {
    cursor: default;
}
.m-input input:focus + label, .m-input input[value] + label, .m-input input.m-active + label {
    font-size: 14px;
    top: -5px;
}
.m-input .m-error-label {
    opacity: 1;
    
    font-size: 14px;
    color: #f3493d;

    top: 100%;
    margin: 5px 0 0 0;
    
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.m-input[data-length]:after {
    content: attr(data-length) '/' attr(data-maxlength);
    position: absolute;
    top: 100%;
    right: 0;
    margin: 5px 0 0 0;
}
/* 
	Radio
	Dependency: Ripple
*/
.m-radio, .m-checkbox, .m-checkbox-checkmark {
	display: block;
	position: relative;
	padding-left: 30px;
	-webkit-transform: translatez(0); /* Allow hardware acceleration */
	line-height: 30px;
}
input[type=radio], input[type=checkbox] {
	display: none;
}
.m-radio label:before {
	content: '';
	border: 2px solid #727272;
	border: 2px solid rgba(0, 0, 0, 0.54);
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	cursor: pointer;
	-webkit-transition: border 0.87s;
	transition: border 0.87s;
}
.m-radio label:after {
	content: '';
	width: 20px;
	height: 20px;
	background: #009688;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -10px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: -webkit-transform 0.28s;
	transition: transform 0.28s;
	cursor: pointer;
}
.m-radio input:checked + label:before {
	border-color: #009688;
}
.m-radio input:checked + label:after {
	-webkit-transform: scale(0.55);
	transform: scale(0.55);
}
.m-radio input:disabled + label:before {
	border-color: #b9b9b9;
	border-color: rgba(0,0,0,0.26);
}
.m-radio input:disabled + label:after {
	background: #b9b9b9;
	border-color: rgba(0,0,0,0.26);
}
.m-radio .m-ripple-wave {
	background: #d6e5e4;
	background: rgba(0,150,135,0.7);
	width: 48px;
	height: 48px;
	margin: -24px 0 0 -24px;
	-webkit-transition: -webkit-transform 1.25s, opacity 0.75s, left 1.25s, top 1.25s;
	transition: transform 1.25s, opacity 0.75s, left 1.25s, top 1.25s;
}
.m-radio .m-ripple-wave.animate {
	transform: scale(1);
	left: 8px !important;
	top: 15px !important;
}

/* Checkbox */
.m-checkbox label:before, .m-checkbox-checkmark label:before {
	content: '';
	border: 2px solid #727272;
	border: 2px solid rgba(0, 0, 0, 0.54);
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
	-webkit-transition: border 0.87s;
	transition: border 0.87s;
}
.m-checkbox label:after {
	content: '';
	width: 20px;
	height: 20px;
	background: #009688;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -10px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-transform: scale(0.001); /* If we have a scale of 0, it will not have a rotate transition */
	transform: scale(0.001);
	-webkit-transition: -webkit-transform 0.28s;
	transition: transform 0.28s;
	cursor: pointer;
}
.m-checkbox input:checked + label:before {
	border-color: #009688;
}
.m-checkbox input:checked + label:after {
	-webkit-transform: rotate(90deg) scale(1);
	transform: rotate(90deg) scale(1);
}
.m-checkbox input:disabled + label:before {
	border-color: #b9b9b9;
	border-color: rgba(0,0,0,0.26);
}
.m-checkbox input:disabled + label:after {
	background: #b9b9b9;
	border-color: rgba(0,0,0,0.26);
}
.m-checkbox .m-ripple-wave {
	background: #d6e5e4;
	background: rgba(0,150,135,0.7);
	width: 48px;
	height: 48px;
	margin: -24px 0 0 -24px;
	-webkit-transition: -webkit-transform 1.25s, opacity 0.75s, left 1.25s, top 1.25s;
	transition: transform 1.25s, opacity 0.75s, left 1.25s, top 1.25s;
}
.m-checkbox .m-ripple-wave.animate {
	transform: scale(1);
	left: 8px !important;
	top: 15px !important;
}

.m-checkbox-checkmark label:before {
    -webkit-transition: -webkit-transform 0.28s, border 0.28s, width 0.28s, height 0.28s, left 0.28s, top 0.28s;
	transition: transform 0.28s, border 0.28s, width 0.28s, height 0.28s, left 0.28s, top 0.28s;
    transform-origin: 100% 100%;
    left: 0;
    -webkit-backface-visibility: hidden;
}
.m-checkbox-checkmark input:checked + label:before {
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: #009688;
    border-bottom-color: #009688;
    -webkit-transform: rotate(40deg);
	transform: rotate(40deg);
    width: 10px;
    height: 18px;
    top: 11px;
    left: -5px;
}
.m-checkbox-checkmark input:checked:disabled + label:before {
    border-right-color: #b9b9b9;
    border-bottom-color: #b9b9b9;
}

/* Checkmark */
.m-checkbox-check {
    content: '';
    position: absolute;
    width: 6px;
    height: 11px;
    left: 7px;
    top: 7px;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
	-webkit-transform: scale(0.001) rotate(-40deg); /* If we have a scale of 0, it will not have a rotate transition */
    transform: scale(0.001) rotate(-40deg);
	-webkit-transition: -webkit-transform 0.28s;
	transition: transform 0.28s;
    z-index: 10;
    -webkit-backface-visibility: hidden;
}
.m-checkbox input:checked + label .m-checkbox-check {
	-webkit-transform: rotate(40deg) scale(1);
	transform: rotate(40deg) scale(1);
}

/* 
	Depths
*/
.z-depth-1, .list.z-depth-1 li, .list li.z-depth-1, .m-button { /* , nav, .card-panel, .card, .toast, .dropdown-content, .collapsible, ul.side-nav */
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25); 
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);  */
}

.z-depth-1-half, .list.z-depth-1-half li, .list li.z-depth-1-half,.m-button.m-down { 
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 4px 8px 0 rgba(0, 0, 0, 0.15);
    /* box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); */
}

.z-depth-2, .list.z-depth-2 li, .list li.z-depth-2 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  */    
}

.z-depth-3, .list.z-depth-3 li, .list li.z-depth-3 {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24), 0 16px 32px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);  */    
}

.z-depth-4, .list.z-depth-4 li, .list li.z-depth-4 { /* , .modal */
	box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.22), 0 24px 48px 0 rgba(0, 0, 0, 0.21); 
    /* box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);  */
}

.z-depth-5, .list.z-depth-5 li, .list li.z-depth-5 {
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2), 0 30px 60px 0 rgba(0, 0, 0, 0.22); 
    /* box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);  */
}

/*
    List
*/
.list {
    box-shadow: none;
}
.list li {
	height: 50px;
	line-height: 50px;
	text-indent: 30px;
	border-bottom: 1px solid #e0e0e0;
    background: #ffffff;
    
    transition: box-shadow 0.28s, top 0.5s;
}
.list li.m-animate {
    transition: transform 0.28s;
}
.m-drag {
    z-index: 10;
    position: relative;
}

/*
    Dialog
*/
.m-dialog {
    background: #ffffff;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.5s;




    -webkit-transition: all 0.5s;
    z-index: 100;    
    border-radius: 2px;
    -webkit-border-radius: 2px;
    max-width: 80%;
    max-height: 80%;
}
.m-overlay {
    position: fixed;
    z-index: 90;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, 0.1);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.28s;
}
.m-overlay.m-show {
    visibility: visible;
    opacity: 1;
}
.m-dialog-title {
 	padding: 20px 20px 0;   
    font-size: 18px;
    font-weight: bold;
}
.m-dialog-body {
 	padding: 15px 20px;   
    font-size: 14px;
    line-height: 25px;
}
.m-dialog-footer {
 	padding: 0 16px;   
}
.m-dialog-button {
 	height: 36px;
    line-height: 36px;
    padding: 0 7px;
    margin: 0 0 14px 8px;
    float: right;
    text-transform: uppercase;
    color: #039BE5;
    font-size: 14px;
    cursor: pointer;
}
.m-dialog-button .m-ripple-wave {
	background: #000000;
}
/*
	Toast
*/
.m-toast {
 	background: #323232;
    color: #ffffff;
    font-size: 14px;
    height: 48px;
    width: 80%;
    max-width: 568px;
    min-width: 288px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    z-index: 100;
    box-sizing: border-pox;
    padding: 0 24px;
    bottom: -48px;
    position: fixed;
    line-height: 48px;
    transition: bottom 0.5s;
    -webkit-transition: bottom 0.5s;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);   
}
.m-toast.m-show {
 	bottom: 48px;   
}